<tr>
  <td><span class="mycount"></span></td>
  <td><%= user_answer.question_content %></td>
  <td><%= user_answer.answer_content %></td>
  <td><%= right_answer(user_answer) %></td>
  <td><%= display_icon_result(user_answer) %></td>
</tr>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
