<li>
	<h4>
		<span class="name"><%= word_list.word%></span>
		<%= link_to "Edit", edit_course_word_list_path(@course, word_list) %>
		<%= link_to "Delete", course_word_list_path(@course, word_list), method: :delete,
										confirm: "You sure?" %>
	</h4>
</li>
