<li>
  <h4>
    <span class="name"><%= word_list.word%></span>
      <% if can? :update, word_list %>
	    <%= link_to t(".edit"), edit_course_word_list_path(@course, word_list),
	      class: "btn-primary btn-sm" %>
	  <% end %>
	  <% if can? :destroy, word_list %>
	    <%= link_to t(".delete"), course_word_list_path(@course, word_list), method: :delete,
	      confirm: "You sure?", class: "btn-danger btn-sm" %>
	  <% end %>
  </h4>
</li>
