<tr>
  <td><%= create_index(params[:page], index, Settings.item.default_number) %></td>
  <td><%= link_to user.full_name, user %></td>
  <td>
    <% if can? :destroy, User %>
      <%= link_to t('.delete'), user_path(user), method: :delete,
                  data: { confirm: t('.confirm') }, class: 'btn btn-danger btn-primary btn-sm' %>
    <% end %>
  </td>
</tr>
