<li>
  <h4>
    <span class="name">
	  <%= link_to course.name, category_course_path(@category, course) %>
	</span>
	<% if can? :destroy, @course %>
	  <%= link_to t(".delete"), category_course_path(@category, course), method: :delete,
	    confirm: "You sure?" %>
	<% end %>
  </h4>
	<span class="description"><%= course.description %></span>
</li>
