<div class='courses-index'>
  <div class='courses'>
    <h3><%= link_to course.name, category_course_path(@category, course) %></h3>
    <p><%= course.description %></p>
    <% if can? :destroy, @course %>
      <%= link_to t('.delete'), category_course_path(@category, course), method: :delete,
                  data: { confirm: t('.sure') }, class: 'btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
