<li>
	<h4>
		<span class="name"><%= course.name %></span>
		<%= link_to "delete", category_course_path(@category, course), method: :delete,
										confirm: "You sure?" %>
	</h4>
	<span class="description"><%= course.description %></span>
</li>
