<h1><%= t('.title') %></h1>

<%= render 'form' %>

<%= link_to t('.back'), category_course_path(@category, @course), class: 'btn btn-default' %>
<%= link_to t('.courses'), category_courses_path(@category), class: 'btn btn-primary' %>
