// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-container {
  height: 30px;
  position: relative;
}

.category-new-button {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#category_description.form-control {
  height: 150px;
}

#category_description {
  text-align: center;
}

.categories-index {
  border: ridge;
  .categories {
    padding: 0px 10px 10px;
  }
}

#category-submit {
  padding-top: 10px;
}
