// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.courses-index {
  border: ridge;
  .courses {
    padding: 0px 10px 10px;
  }
}

#course-submit-button {
  padding-top: 10px;
}

.action-button {
  text-align: center;
  padding-bottom: 10px;
}

#course_description.form-control {
  height: 200px;
}
