@import "bootstrap";

$grayMediumLight: #eaeaea;

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  a {
    &:hover {
      small {
        float: left;
      }
    }
  }
}

ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 10px;
  }
}

ul#choose-language-button {
  float: left;
}

/* header */

header {
  .navbar.scrolling-navbar {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

textarea {
  resize: none;
}

/* alert */

#error_explanation {
  color: #f00;
  border: 2px red;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  ul {
    float: left;
    li {
      margin: 0 0 18px 0;
      font-size: 12px;
      text-align: left;
    }
  }
}

.alert.alert-error, .alert-alert {
  position: relative;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 20px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

.alert-notice, .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.field_with_errors {
  display: inline;
  label:after {
    content: ' *';
    color: red;
  }
}

/* export */

.btn-warning {
  float: right;
  margin-top: 10px;
}
