// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#main-text-home {
  height: 200px;
  border: 3px solid green;
  position: relative;

  .btn-success {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.justify-content-center {
  padding-top: 10px;
}

.result-button {
  padding-top: 10px;
  text-align: center;
}
