// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tests-index {
  border: ridge;
  .tests {
    padding: 0px 10px 10px;
  }
}

.test-container {
  height: 100px;
  position: relative;
}

.test-new-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#name-text {
  height: 75px;
}

#description-text {
  height: 150px;
}

#description-field {
  padding-top: 10px;
}

#test-description {
  text-align: center;
}

#question-attribute {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

#question-label, #answer-label {
  margin: 0;
  -ms-transform: translate(0, -75%);
  transform: translate(0, -75%);
  margin-right: 10px;
}

#question-text {
  border: 1px solid #ccc;
  width: 85%;
}

#radio-button {
  margin: 0;
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

#answer-attribute {
  padding-bottom: 10px;
}

#answer-text {
  border: 1px solid #ccc;
  width: 50%;
}
