<h1><%= t(".title") %></h1>

<%= render 'form', category: @category %>

<% if can? :category, @category %>
  <%= link_to t(".back"), category_courses_path(@category) %> |
<% end %>
<%= link_to t(".categories"), categories_path %>
